<%= @user.name %>
<%= image_tag(@user.avatar.url(:medium)) %>
<!-- shared stats partial -->
<div class="row">
	Followers:
	<div id="followers">
		<%= @user.following.count %>
	</div>
	<div>
	Following:
	<div id="following">
		<%= @user.followers.count %>
	</div>
	
</div>
	<div id="follow_form">
	<%= render "follow_form" %>
</div>
</div>
