<%= render "pages/home" unless user_signed_in? %>

<div id="posts" class="transitions-enabled modal-gallery">
  <% @posts.each do |post| %>
    <div class="box panel panel-default">
      <a href="<%= post.image.url %>" data-gallery>
        <%= image_tag(post.image.url) %>
      </a>
      <%= render "lightbox" %>
      <div class="panel-body">
        <%= post.description %><br/>
        <strong><%=link_to post.user.name, artist_path(post.user.profile_id) if post.user %></strong>
        <p><%= link_to "Comments", post_path(post) %></p>
        <% if current_user && post.user == current_user %>
          <div class="actions"> 
            <%= link_to edit_post_path(post)  do %>
              <i class="fa fa-pencil-square-o"></i> Edit
            <% end %>
            <%= link_to post, method: :delete, data: { confirm: "Are you sure?" }  do %>
              <i class="fa fa-trash-o"></i> Delete
            <% end %>
            </div>
        <% end %>
      </div>
      <div class="panel-footer center">
        <% if user_signed_in? %>
         <%= link_to upvote_post_path(post), remote: true, method: :put do %>
            <i class="fa fa-caret-square-o-up fa-2x"></i>
          <% end %>
          <%= link_to downvote_post_path(post), remote: true, method: :put do %>
            <i class="fa fa-caret-square-o-down fa-2x"></i>
          <% end %>
        <% end %>
        <div id="post-<%= post.id %>-score" class="post-score">
          <%= post.score %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<div class="center">
  <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
</div>


